{extend name='public/base' /}

{block name='seo'}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
<link rel="stylesheet" href="__STATIC__/css/upload.css">
{/block}

{block name='content'}
<!-- content begins -->
<div id="content">
	<div id="right">
	  <h1>Metamorphosis Design</h1>
		 <div class="text">
		   <img src="__STATIC__/img/img1.jpg" class="img" width="122"  height="92" alt="" /><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
			Vivamus sagittis erat hendrerit orci porttitor fringilla. Donec quis ante convallis massa pharetra condimentum quis eget massa. Donec fringilla elementum lorem sit. amet tempor. Aliquam id arcu ac turpis pulvinar sagittis ac eget libero leo a erat porttitor vestibulum in ut dui. Phasellus et augue et nunc aliquet pellentesque. Fusce commodo sagittis metus, in faucibus lacus placerat in.<br /><br />
			<span>Sed fringilla faucibus euismod. </span><br />
			Donec eleifend vehicula ligula, a volutpat ante sollicitudin non. Maecenas euismod pharetra magna et commodo. Nam sed arcu et urna consequat ornare. Donec vestibulum varius mi, eget pulvinar orci posuere eget. Cras gravida aliquam
		  <div class="read"><a href="#"><img src="__STATIC__/img/read_more.png" alt=""/></a></div>
		</div>
		
		<h1>FREE WEBSITE TEMPLATES USEFUL LINKS</h1>
		 <div class="text">
			<ol>
						<li><a href="#">Free Website Templates</a></li>
						<li><a href="#">Free Flash Templates</a></li>
						<li><a href="#">Flash Templates</a></li>
						<li><a href="#">Easy Flash Templates</a> (no flash experience needed to edit)</li>
						<li><a href="#">Top Hosting Providers</a></li>
				 
				  </ol>
			<div class="read"><a href="#"><img src="__STATIC__/img/read_more.png" alt=""/></a></div>
		</div>
		
	  <h1>Free Website Templates</h1>
		 <div class="text">
			<img src="__STATIC__/img/img2.jpg" class="img" width="122"  height="92" alt="" /><span>Aliquam a dui ligula, eget faucibus sapien.</span><br />
			Aliquam eu augue augue. Nullam urna elit, ornare quis congue at, interdum ac nulla. Etiam gravida quam ut diam fermentum eu fringilla lacus rhoncus. Etiam eleifend ligula ac nunc sagittis non elementum sapien luctus. Curabitur quis elit qua.<br />
			<br /><br />
			<span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </span><br />
			Vestibulum dictum adipiscing tortor, in condimentum felis tincidunt nec. Fusce pharetra cursus leo, sed rhoncus nunc vehicula eu. Phasellus tempor lobortis lacus non tristique. Phasellus eu velit scelerisque justo aliquet condimentum. Class 
			<div class="read"><a href="#"><img src="__STATIC__/img/read_more.png" alt=""/></a></div>
		</div>
	</div>
	<div id="left">
			<h1>Categories</h1>
			<div class="list">
				 <div class="opt"><div class="opt_a">
					<a class="" href="">Lorem ipsum dolor</a>
				 </div></div>
				 <div class="opt"><div class="opt_a">
					<a class="" href="">Cras in ante quam</a>
				 </div>
				</div>
				 <div class="opt"><div class="opt_a">
					<a class="" href="">Phasellus ege</a>
				 </div>
				 </div>
				 <div class="opt"><div class="opt_a">
					<a class="" href="">Donec luctus nunc</a>
				 </div>
				 </div>
				 <div class="opt"><div class="opt_a">
					<a class="" href="">Nam varius arcu </a>
				 </div>
				 </div>
			</div>
			<h1>Company News</h1>
			<div class="box10">
				<div class="box_top"></div>
				<div class="left_b"><span class="w">Friday, June 12, 2010</span><br />
						In hac habitasse platea dictumst. Pel- lentesque porttitor urna dictum mauris 
						  <div class="read"><a href="#"><img src="__STATIC__/img/read_more.png" alt=""/></a></div>
			  </div>
				<div class="box_bot"></div>
			</div>
			<div style="height:7px"></div>
			<div class="box10">
				<div class="box_top"></div>
				<div class="left_b"><span class="w">Saturday, June 13, 2010</span><br />
						In hac habitasse platea dictumst. Pel- lentesque porttitor urna dictum mauris 
						  <div class="read"><a href="#"><img src="__STATIC__/img/read_more.png" alt="" /></a></div>
			  </div>
				<div class="box_bot"></div>
			</div>
	 </div>
	<div style="clear: both"></div>
</div>
<!-- content ends --> 
<!-- footer begins -->
            <div id="footer">
             <p>Copyright  2010. <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="#" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a> Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p> 
  </div>
<!-- footer ends -->
</div>
{/block}
