{extend name='public/base' /}

{block name='seo'}
<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
{/block}

{block name='content'}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		资源管理
		<span class="c-gray en">&gt;</span>
		资源列表
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<form action="{:url('resource/resourceList')}" method="get">
				<div class="text-c">
					<span class="select-box inline">
					<select name="selected" class="select">
						<option value="%">全部分类</option>
						<option value="1">分类一</option>
						<option value="2">分类二</option>
						<option value="3">分类三</option>
						<option value="4">分类四</option>
					</select>
					</span>
					日期范围：
					<input type="text" name="logmin" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }'})" id="logmin" class="input-text Wdate" style="width:120px;" value="{$logmin}" />
					-
					<input type="text" name="logmax" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'logmin\') }',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;" value="{$logmax}" />
					<input type="text" name="keywords" id="" placeholder=" 资源名称" style="width:250px" class="input-text" value="{$keywords}" />
					<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资源</button>
				</div>
				<div class="cl pd-5 bg-1 bk-gray mt-20">
					<span class="l">
					<a href="javascript:;" onclick="delResource()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
					<a href="javascript:;" onclick="resource_add('资源信息','{:url("index/download/fileAdd")}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe642;</i> 添加资源</a> 
				</div>
			</form>
			<div class="mt-5">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="30"><input type="checkbox" id = "allChecks" name="" value="" onclick="ckAll()"></th>
							<th width="40">ID</th>
							<th width="180">文件名</th>
							<th width="60">分类</th>
							<th width="60">来源</th>
							<th width="40">类型</th>
							<th width="90">作者</th>
							<th width="60">上传者</th>
							<th width="60">上传时间</th>
							<th width="50">操作</th>
						</tr>
					</thead>
					<tbody>
					{volist name="arrylist" id="vo"}
						<tr class="text-c">
							<td><input type="checkbox" value="{$vo.filename}.{$vo.filetype}" id="{$vo.id}" name="check"></td>
							<td>{$vo.id}</td>
							<td><button class="btn btn-link size-MINI" data-toggle="tooltip" data-placement="right" title="{$vo.decsription}">{$vo.filename}</button></td>
							<td>{$vo.category}</td>
							<td>{$vo.source}</td>
							<td>{$vo.filetype}</td>
							<td>{$vo.author}</td>
							<td>{$vo.uploader}</td>
							<td>{$vo.uploadtime}</td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" onclick="resource_edit('管理员编辑','{:url("resource/resourceEdit",["id"=>$vo["id"]])}','1','800','500')" class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i>
								</a>
								<a title="删除" href="javascript:;" onclick="resource_del(this,{$vo.id})" class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6e2;</i>
								</a>
							</td>
						</tr>
					{/volist}
					</tbody>
				</table>
				<form action="" method="post" id="downloadfilesform" style="display:none">
					<input type="hidden" name="files" id="downloadfilesfiles" value="upload/tmp.zip" />
				</form>
			</div>
		</article>
	</div>
</section>
{/block}

{block name="js"}
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"searching": false,//是否显示查询
    "lengthChange": true,//是否使用下位列表选择分页大小
	"aoColumnDefs": [
		//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		{"orderable":false,"aTargets":[0,9]}// 不参与排序的列
	]
});

/*资源-删除*/
function resource_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:url('resource/deleteResource')}",{id:id})
		
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
/*资源-编辑*/
function resource_edit(title,url,id,w,h){
    $.get(url,{id:id}); //执行控制器中的编辑操作
	layer_show(title,url,w,h);
}
/*资源-添加*/
function resource_add(title,url,w,h){
	$.post(url);
	layer_show(title,url,w,h);
}
/*批量删除*/
function delResource()
{
	layer.confirm('确认要删除吗？',function(index){
		var cks=document.getElementsByName("check");
		for(var i=cks.length-1; i>=0; i--){
			if(cks[i].checked==true){
				var id = cks[i].id;
				$.get("{:url('resource/deleteResource')}",{id:id})
				$("#"+id).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}
		}
	});
}
</script>
{/block}