<!-- header begins -->
<div id="main">
<div id="header">
	<div id="buttons">
      <a href="../../index/index/index.html" class="but"  title="">首页</a><div class="razd_b"></div>
      <a href="../../index/index/index.html" class="but" title="">成员介绍</a><div class="razd_b"></div>
      <a href="../../index/index/index.html"  class="but" title="">成果展示</a><div class="razd_b"></div>
      <a href="../../index/download/download.html"  class="but" title="">资源共享</a><div class="razd_b"></div>
      <a href="../../admin/index/index.html" class="but" title="">后台管理</a>
    </div>
	<div id="logo">
    
    	<div class="logo_l">
    		<a href="#">metamorph_ball</a>
      		<h2><a href="http://www.metamorphozis.com/" id="metamorph">Design by Metamorphosis Design</a></h2>
      	</div>
      <div class="logo_r">
       	<h5>Welcome to Our Website</h5>
			<span class="f_ibw">Curabitur ac metus arcu. Cras ac sollicitudin sem. </span><br />
            Aenean nec risus nisi, a gravida velit. Vestibulum blandit quam in nunc dignissim ornare. Pellentesque id sapien nec nibh laoreet ultrices et at urna. Aenean quis massa justo, in pellentesque 
         <div class="read"><a href="#"><img src="__STATIC__/img/read_more.png" alt=""/></a></div>
      </div>    
    </div>  
 </div>
<!-- header ends -->